body {
  background-color: #ffbe93;
}

/* colors of header */

h1 {
  background-color: #ffd0a5;
  color: #ffe9d6;
  padding: 40px;
  text-align: center;
}

/* color of content */
p {
  background-color: #ffefe0;
}

ul {
  color: #f5f5dc;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: #ffbd7f;
  border: 1px solid white;
  text-align: left;
}

/* colors of table */
td {
  height: 2rem;
  background: #ffe1be;
  border: 1px solid #fff;
  text-align: center;
}

/* Add a newline at the end of the file */