body {
  background-color: #ffa75f;
}

h1 {
  'font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;'
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  'font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;'
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

/* This is the content of the website */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

/* This is the border of the content */
.dashed {
  border-style: dashed;
  color: #fff;
}

/* Fanta image */
#fanta-bottle {
  display: block;
  margin-left: auto;
  margin-right: 230px;
  width: 50%;
}

/* unvisited link */
a:link {
  color: #cf6f38;
}
